<h1>Listing all employees</h1>
<p>
<%= link_to "Create new employee", new_employee_path %>
</p>
<table>
<tr>
<th>Name</th>
<th>Username</th>
<th>Id Card</th>
<th>Email</th>
</tr>
<% @employee.each do |employee| %>
<tr>
<td><%= employee.name %></td>
<td><%= employee.username %></td>
<td><%= employee.id_card %></td>
<td><%= employee.email %></td>
<td><%= link_to 'Edit', edit_employee_path(employee) %></td>
<td><%= link_to 'Show', employee_path(employee) %></td>
<td><%= link_to 'Delete', employee_path(employee), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>
<% end %>
</table>